@charset "utf-8";
#heading {
    height:64px;
}
#heading h1 {
    float:left;
    font-size:180%;
}
#heading em {
    float:left;
    font-size:90%;
    margin-left:56px;
    margin-top:22px;
    color:#9a9a9a;
}
#content {
    /* This breaks the columns builtin to Bootsrap! Ack, what can we do about this? */
    /* padding:20px; */
    padding-top:5px;
}
h2 {
    font-size: 1.8em;
    margin: 5px 0;
}
h3 {
    font-size: 1.3em;
}
h4 {
    font-size: 1.1em;
}
.product {
    margin-bottom: 20px;
}
.product h2 a.product_name {
    color:#343434;
}
.user_info {
    float:right;
    margin-top: 10px;
}
.review form {
    display: inline;
}
