@charset "utf-8";
#heading {
    height:64px;
}
#heading h1 {
    float:left;
    font-size:180%;
}
#heading em {
    float:left;
    font-size:90%;
    margin-left:56px;
    margin-top:22px;
    color:#9a9a9a;
}
#content {
    /* This breaks the columns builtin to Bootsrap! Ack, what can we do about this? */
    /* padding:20px; */
    padding-top:5px;
}
h2 {
    font-size: 1.8em;
}
h3 {
    font-size: 1.3em;
    margin: 0;
}
h4 {
    font-size: 1.1em;
}
.product {
    margin-bottom: 0;
}
.product h2 a.btn {
    margin: 0 0 5px 20px;
}
.product h3 a.product_name {
    color:#343434;
}
.user_info {
    float:right;
    margin-top: 10px;
}
.review form {
    display: inline;
}
.row {
    margin-bottom: 20px;
}
#message {
}

span.stars, span.stars span {
    display: block;
    background: url(../img/stars.png) 0 -16px repeat-x;
    width: 80px;
    height: 16px;
}
span.stars span {
    background-position: 0 0;
}

#recent-reviews .product_name {
    display:inline;
    margin-right:10px;
}
#recent-reviews span {
    display:inline-block;
}
#recent-reviews span.review_date {
    display:inline-block;
    font-size:80%;
    color:#999;
    padding:5px;
    position:relative;
    top:-2px;
}
#recent-reviews p {
    margin:0;
}
#recent-reviews .review {
    width:460px;
}
