<div class="review" id="r{{ review.id }}">
    <h4>{% block header %}{% endblock %} <small>(<span class="review_date pretty-date">{{ review.date }} +00:00</span>)</small></h4>
    {% block body %}{% endblock %}
    <div class="review-interact">
        <div class="review-interact-info">
            <span class="votes"></span>
            {% if current_user() %}
                <a href="" class="upvote-link">Upvote</a><span class="separator">/</span><a href="" class="downvote-link">Downvote</a><span class="separator">/</span><a href="" class="novote-link">No vote</a> &middot; <a href="#" class="comment-link">Comment</a>
            {% else %}
                Login to vote
            {% endif %}
        </div>
        <div class="comments"></div>
        <div class="comment-form hidden">
            <form action="/review/post_comment/" method="GET">
                <textarea name="body_text"></textarea>
                <div class="form-actions">
                    <button type="submit" class="btn btn-primary btn-mini">Post comment</button>
                </div>
            </form>
        </div>
    </div>
</div>
