{% extends "layout.html" %}
{% block body %}
    <div class="row">
        <div class="span7">
            <h3>Top Products</h3>
            <div class="results"></div>
        </div>
        <div class="span5">
            <h3>Query</h3>
            <form class="form-horizontal" action="/execute_history/" method="GET">
                <div>
                    <input type="range" name="date" min="1995" max="2013" value="2013">
                </div>
            </form>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    <script type="text/javascript" src="/static/js/query_form.js"></script>
{% endblock %}
