{% extends "layout.html" %}
{% block body %}
    <div class="row">
        <div class="span8">
            <h3>Top Products</h3>
            <div class="results"></div>
        </div>
        <div class="span4">
            <form class="form-horizontal" action="/execute_history/" method="GET">
                <legend>Scroll through time</legend>
                <div class="control-group">
                    <input type="range" name="date" min="0" max="168" value="0">
                    <p><span class="spinner-date">Date</span></p>
                </div>
                <div class="control-group">
                    <select name="category">
                        <option value="all">All categories</option>
                        {% for category in categories %}
                            <option value="{{ category.id }}">{{ category.name }}</option>
                        {% endfor %}
                    </select>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    <script type="text/javascript" src="/static/js/timeline.js"></script>
{% endblock %}
