{% extends "layout.html" %}
{% block body %}
<div id="recent-reviews">
    <h3>Recent Reviews</h3>
    {% for r in reviews %}
    <div class="review well">
        <h4 class="product_name">{{ r.manufacturer_name }} <a href="{{url_for('product', product_id=r.product_id)}}">{{ r.product_name }}</a></h4>
        <span class="stars">{{ r.review_score }}</span>
        <span class="review_date pretty-date">{{ r.review_date }} +00:00</span>
        <div><a href="{{ url_for('user_profile', username=r.user_name) }}">{{ r.full_name }}</a> wrote:</div>
        <p>{{ r.text }} </p>
    </div>
    {% endfor %}
</div>
{% endblock %}
