{% extends "layout.html" %}
{% block body %}
<div class="row">
    <!-- Header below the black bar -->
    <div class="span7">
        <h2>Recent products</h2>
        <!-- Include statements import code from another html file -->
        {% include "inc/products_list.html" %} 
    </div>

    <!-- Header below the black bar -->
    <div class="span5">
        <form name="f1" action="{{ url_for('add_product') }}" method="post" class="form-horizontal">
            <fieldset>
                <legend>Product Categories</legend>
                <ul>
                    {% for category in categories %}
                        <li><a href="{{ url_for('product_category', category_id=category.id) }}">{{ category.name }}</a></li>
                    {% endfor %}
                </ul>

                <legend>Add a product</legend>

                <div class="control-group">
                    <label for="product_name" class="control-label">Name</label>
                    <div class="controls">
                        <input type="text" name="product_name">
                    </div>
                </div>

                <div class="control-group">
                    <label for="manufacturer_present" class="control-label">Manufacturer</label>
                    <div class="controls">
                        <select name="manufacturer_present" class="input-small">
                            <option value="">&mdash;</option>
                            {% for manufacturer in manufacturers %}
                                <option value="{{ manufacturer.id }}">{{ manufacturer.name }}</option>
                            {% endfor %}
                        </select>
                        &nbsp;or&nbsp;
                        <input type="text" name="manufacturer_not_present" class="input-mini">
                    </div>
                </div>

                <div class="control-group">
                    <label for="category" class="control-label">Category</label>
                    <div class="controls">
                        <select name="category_id" class="input-small">
                            {% for category in categories %}
                                <option value="{{ category.id }}">{{ category.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <div class="control-group">
                    <label for="specs_url" class="control-label">Specifications URL<sup><a href="#fn1" id="ref1">1</a></sup></label>
                    <div class="controls">
                        <input type="text" name="specs_url">
                    </div>
                </div>

                <div class="form-actions">
                    <button type="submit" class="btn">Create</button>
                </div>
            </fieldset>
        </form>

        <sup id="fn1">1. We currently only support URLs from The Verge. Sorry!.<a href="#ref1" title="Jump back to footnote 1 in the text.">↩</a></sup>
    </div>
</div>
{% endblock %}
