{% extends "layout.html" %}
{% block body %}
<div class="product">
    <h2>{{ product.manufacturer }} {{ product.name }}</h2>

    <div class="scraped_reviews">
        <h3>Scraped Reviews</h3>
        {% for review in scraped_reviews %}
            <div class="review">
                <h4>Review by {{ review.source_name }}: {{ review.score }}</h4>
                {{ review.body_text | markdown }}
            </div>
        {% endfor %}
    </div>

    <div class="user_reviews">
        <h3>User Reviews</h3>
        {% for review in user_reviews %}
            <div class="review">
                <h4>Review by {{ review.username }}: {{ review.score }}</h4>
                {{ review.body_text | markdown }}
            </div>
        {% endfor %}
    </div>

    <h3>Add a review</h3>
    <form name="f1" action="{{ url_for('postReview') }}" method="post" class="form-horizontal">
        <div class="control-group">
            <input type="hidden" name="productId" value="{{ product.id }}">
            <label for="score" class="control-label">Score</label>
            <div class="controls">
                <select name="score">
                    {% for i in range(11) %}
                        <option value="{{i}}">{{i}}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <textarea name="reviewText" rows="20" class="input-xxlarge"></textarea>
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <input type="submit" class="btn">
            </div>
        </div>
	</form>
</div>
{% endblock %}
