{% extends "layout.html" %}
{% block body %}
<div class="product">
    <h2>{{ product.manufacturer }} {{ product.name }} <a href="{{ url_for('edit_product', product_id=product.id) }}" class="btn btn-small"><i class="icon-edit"></i></a></h2>

    <div class="row">

        <!-- First column -->
        <div class="scraped_reviews span6">
            <h3>Scraped Reviews
                <small class="metascore">
                {% if current_user() %}
                    Your calculated metascore: {{ product.avg_score }}
                {% else %}
                    Average score: {{ product.avg_score }}
                {% endif %}
                </small>
            </h3>
            {% for review in scraped_reviews %}
                {% include "inc/scraped_review.html" %}
            {% endfor %}
        </div>

        <!-- Second column -->
        {% if tags %}
        <div class="product_tags span6">
            <div id="tagvis" tags="{{ tags }}"></div>
        </div>
        {% endif %}

        <div class="user_reviews span6">
            <h3>User Reviews</h3>
            {% for review in user_reviews %}
                {% include "inc/user_review.html" %}
            {% endfor %}
        </div>
    </div>

    <div class="row">
        <div class="span6">
            <form name="f1" action="{{ url_for('scrape') }}" method="post" class="form-horizontal">
                <fieldset>
                    <legend>Trigger a scrape</legend>

                    <div class="control-group">
                        <label for="url" class="control-label">URL</label>
                        <div class="controls">
                            <input name="url" type="text" class="input-large">
                        </div>
                    </div>

                    <div class="form-actions">
                        <button type="submit" class="btn">Scrape</button>
                    </div>

                    <input type="hidden" name="product_id" value="{{ product.id }}">
                </fieldset>
            </form>

            {% if specs %}
                <div class="span6">
                    <table class="table">
                        <tr>
                            <th>Name</th>
                            <th>Value</th>
                        </tr>
                        {% for spec in specs %}
                            <tr>
                                <td>{{ spec.name }}</td>
                                <td title="{{ spec.value_decimal }}">{{ spec.value }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            {% endif %}
        </div>

        {% if current_user() %}
            <div class="span6">
                <form name="f2" action="{{ url_for('post_product_review', product_id=product.id) }}" method="post" class="form-horizontal">
                    <fieldset>
                        <legend>Write a review</legend>

                        <div class="control-group">
                            <label for="score" class="control-label">Score</label>
                            <div class="controls">
                                <input name="score" type="number" min="0" max="10" step="1" value="10" class="input-mini">
                            </div>
                        </div>

                        <div class="control-group">
                            <label for="reviewText" class="control-label">Review</label>
                            <div class="controls">
                                <textarea name="reviewText" rows="20" class="input-xlarge"></textarea>
                            </div>
                        </div>

                        <div class="form-actions">
                            <button type="submit" class="btn">Post</button>
                        </div>
                    </fieldset>
                </form>
            </div>
        {% endif %}
    </div>
</div>
{% endblock %}
