{% extends "layout.html" %}
{% block body %}
    <div class="row">
        <div class="span7">
            <h3>Search results</h3>
            <div class="results"></div>
        </div>
        <div class="span5">
            <h3>Text Search</h3>
            <form class="form-horizontal redefine-search" action="/execute_search/" method="GET">
                <input type="text" name="query">
            </form>

            <h3>Search Parameters</h3>
            <form class="form-horizontal query-builder" action="/execute_search/" method="GET">
                <div>
                    <input type="text" name="query">
                </div>

                <div class="query-build-wrap">
                    <div class="query-input-parent"><input type="text" autocomplete="false"></div>
                </div>
                <div class="query-build-wrap">
                    <div class="query-input-parent"><input type="text" autocomplete="false"></div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    <script type="text/javascript" src="/static/js/query_form.js"></script>
{% endblock %}
