{% extends "layout.html" %}
{% block body %}
    <div class="row">
        <div class="span8">
            <div class="results"></div>
        </div>
        <div class="span4">
            <form class="query-builder" action="/execute_search/" method="GET">
                <fieldset>
                    <legend>Search Parameters</legend>
                    <div class="control-group">
                        <label for="query">Text Search</label>
                        <input type="text" name="query">
                    </div>

                    <div class="control-group">
                        <label for="tags">Tags</label>
                        <input type="text" name="tags">
                    </div>

                    <label>Requirements</label>
                    <div class="query-build-container"></div>
                </fieldset>
            </form>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    <script type="text/javascript" src="/static/js/query_form.js"></script>
{% endblock %}
