{% extends "layout.html" %}
{% block body %}
{% if retry %}
<h3>Please include both a username and password<h3>
{% else %}
{% endif %}
<form class="form-horizontal" action="{{ url_for('attemptSignup') }}" method="POST">
    <fieldset>
        <legend>Register</legend>
        <div class="control-group">
            <label class="control-label" for="inputEmail">Username</label>
            <div class="controls">
                <input type="text" id="inputEmail" name="username">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="inputName">Name</label>
            <div class="controls">
                <input type="text" id="inputEmail" name="fullname">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="inputPassword">Password</label>
            <div class="controls">
                <input type="password" id="inputPassword" name="password">
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <button type="submit" class="btn">Sign up</button>
            </div>
        </div>
    </fieldset>
</form>
{% endblock %}
