{% extends "layout.html" %}
{% block body %}
{% if retry %}
<h3>Please include both a username and password<h3>
{% else %}
<h3>Uhhhh...</h3>
{% endif %}
<form class="form-horizontal" action="{{ url_for('attemptSignup') }}" method="POST">
  <div class="control-group">
    <label class="control-label" for="inputEmail">Email</label>
    <div class="controls">
      <input type="text" id="inputEmail" name="username" placeholder="Email">
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="inputName">Name</label>
    <div class="controls">
      <input type="text" id="inputEmail" name="fullname" placeholder="Name">
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="inputPassword">Password</label>
    <div class="controls">
      <input type="password" id="inputPassword" name="password" placeholder="Password">
    </div>
  </div>
  <div class="control-group">
    <div class="controls">
      <button type="submit" class="btn">Sign up</button>
    </div>
  </div>
</form>
{% endblock %}
