{% extends "layout.html" %}
{% block body %}

    <div class="row">
        <!-- Header below the black bar -->
        <div class="span6">
            <h2>Reviews by <a href="{{ source_data.url }}">{{ source_data.name }}</a></h2>
            {% for review in reviews %}
                {% include "inc/scraped_review.html" %}
            {% endfor %}
        </div>

        <!-- Header below the black bar -->
        <div class="span6">
            <h2>Review Source Preferences</h2>
            {% if active_user %}
                <p>Use the slider to change the weight this source has in metascores calculated for you.</p>
                <table class="table source-preferences-table">
                    <thead>
                        <tr>
                            <th>Source</th>
                            <th>Affinity</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{ source_data.name }}</td>
                            <td>
                                <form class="form-inline source-preferences-form" action="/user/set_preferences/">
                                    <input type="hidden" name="source_id" value="{{ source_data.id }}">
                                    <input type="range" min="0" max="2" step="0.1" name="priority" value="{{ original_priority }}" >
                                </form>
                            </td>
                        </tr>
                    </tbody>

                </table>
            {% else %}
                <p>Please log in to change your user preferences.</p>
            {% endif %}
        </div>
    </div>
{% endblock %}
