{% extends "layout.html" %}
{% block body %}
{% for review in reviews %}
    <h2>Review:</h2>
    <p>
        Date: {{ review['date']}}<br />
        Score: {{ review['score']}}<br />
        Body: {{ review['text'] }}<br />
        {% if username == dispUsername %}
            <form name="deleteReview" action="{{ url_for('deleteReview') }}" method="post">
                <input type="hidden" value="{{ review['rev_id'] }}" name="review" />
                <input type="submit" class="btn" value="delete">
            </form>
        {% endif %}
    </p>
{% endfor %}
{% endblock %}
